$animation-curve: cubic-bezier(1, 0, 0, 1);
$orange: #fb923c;
$width: 2.3em;
$height: 0.35em;

.container,
.toggler {
  width: inherit;
  height: inherit;
  display: grid;
  position: absolute;
  margin-top: 1em;
  align-items: center;
  justify-content: center;
}

.state {
  display: none;
}

.toggler {
  opacity: 0;
}

.burguer {
  width: $width;
  height: $height;
  background-color: $orange;
  position: absolute;
  right: 0;

  &::before,
  &::after {
    content: '';
    width: $width;
    height: $height;
    position: absolute;
    display: block;
    background-color: $orange;
    transition: all 0.6s $animation-curve;
  }

  &::before {
    top: -220%;
    left: 0;
    transform: rotateZ(0deg);
    transform-origin: left top;
  }

  &::after {
    top: 220%;
    left: 0;
    transform: rotateZ(0deg);
    transform-origin: left bottom;
  }
}

.state:checked ~ .burguer::before {
  content: '';
  background-color: $orange;
  transform: rotateZ(45deg);
  left: 1%;
}

.state:checked ~ .burguer::after {
  content: '';
  background-color: $orange;
  transform: rotateZ(-45deg);
  left: 1%;
}

.state:checked ~ .burguer {
  background-color: transparent;
}

.state ~ .burger {
  transition: all 0.7s $animation-curve;
}

